<section>
  <ul class="box-info">
    <li>
      <i class="bx bxs-group"></i>
      <span class="text">
        <h3>15</h3>
        <p>Teachers</p>
      </span>
    </li>
    <li>
      <i class="bx bxs-group"></i>
      <span class="text">
        <h3>297</h3>
        <p>Students</p>
      </span>
    </li>
    <li>
      <i class="bx bxs-group"></i>
      <span class="text">
        <h3>130</h3>
        <p>Parents</p>
      </span>
    </li>
    <li>
      <i class="bx bxs-school"></i>
      <span class="text">
        <h3>4</h3>
        <p>Classes</p>
      </span>
    </li>
  </ul>
</section>

<section class="main-content">
  <div class="bar">
    <div class="duty-bar">
      <h3>Weekly Duty</h3>

      <div class="duty">
        <div class="tod">
          <span class="title">T.O.D</span>
          <h4 class="name">Asangalwisye N.M</h4>
        </div>

        <div class="pod">
          <span class="title">P.O.D</span>
          <h4 class="name">Deograsia E.K</h4>
        </div>
      </div>
    </div>
    <div class="exam-bar">
      <h3>Exam</h3>

      <div class="exam-bar_container">
        <table>
          <thead>
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Exam</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>07-02-2023</td>
              <td>19-01-2023</td>
              <td>Mid Term 2</td>
            </tr>
            <tr>
              <td>07-02-2023</td>
              <td>19-01-2023</td>
              <td>NECTA FTNA</td>
            </tr>
            <tr>
              <td>07-02-2023</td>
              <td>19-01-2023</td>
              <td>Annual Exam (TAHOSA)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
